.container{
    padding-top: 50px;
}

#player_name_navbar_dropdown {
    color: white !important;
    font-weight: 20px !important;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.btn-style-1 {
    padding: 2px;
    font-size: 10px;
    margin: 0px 2px;
}