.container{
    padding-top: 50px;
}

#player_name_navbar_dropdown {
    color: white !important;
    font-weight: 20px !important;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.btn-style-1 {
    padding: 2px;
    font-size: 10px;
    margin: 0px 2px;
}

.player_status_name {
    margin-top: -25px;
    font-size: 20px;
    font-weight: bold;
}

.game-table {
	width: 90%;
	margin: 10px;
	border: 3px solid #ddd !important;
	border-spacing: 5px;
}

.game-table>tr {
/*	border: 0px solid #ddd !important;*/
}

.game-table>tr>td {
	/*padding: 10px;*/
	border-radius: 20%;
	background-color: #ddd;
	border: 10px solid transparent;
	background-clip: padding-box;
/*	border: 1px solid #ddd;*/
}